# File object, file thực thi
*.o
*.so
*.out
*.exe

# Các chương trình đã biên dịch
lecture01-intro/comments/comments
lecture01-intro/exercises/add
lecture01-intro/exercises/factorial
lecture01-intro/exercises/fibonacci
lecture01-intro/functions/print_hello
lecture01-intro/header_files/hello
lecture01-intro/header_files/hello_student
lecture01-intro/header_files/hello_world
lecture01-intro/hello_world/hello
lecture01-intro/operators/arithmetic
lecture01-intro/operators/increment
lecture01-intro/variables/fahr_celsius
lecture01-intro/variables/fahr_celsius_float
lecture02-basic-elements/char/char_ascii
lecture02-basic-elements/char/convert
lecture02-basic-elements/char/my_atoi
lecture02-basic-elements/control_flow/if_else
lecture02-basic-elements/control_flow/loops
lecture02-basic-elements/operators/relational_logical
lecture02-basic-elements/types/cast_in_function
lecture02-basic-elements/types/casting
lecture02-basic-elements/types/declare_assign
lecture02-basic-elements/types/sizeof_types
lecture03-array-pointer/arrays/array_1d
lecture03-array-pointer/arrays/array_2d
lecture03-array-pointer/arrays/array_insert_delete
lecture03-array-pointer/arrays/convolution
lecture03-array-pointer/arrays/inner_product
lecture03-array-pointer/arrays/matrix_multiplication
lecture03-array-pointer/control_flow/break_continue
lecture03-array-pointer/control_flow/switch
lecture03-array-pointer/dynamic_mem/malloc_free
lecture03-array-pointer/dynamic_mem/memory_leak
lecture03-array-pointer/dynamic_mem/realloc
lecture03-array-pointer/dynamic_mem/scope
lecture03-array-pointer/pointers/array_functions
lecture03-array-pointer/pointers/call_by_value_reference
lecture03-array-pointer/pointers/even_odd_bit
lecture03-array-pointer/pointers/pointer_arithmetic
lecture03-array-pointer/pointers/pointer_basic
lecture03-array-pointer/pointers/pointer_to_array
lecture03-array-pointer/structs/binary_tree
lecture03-array-pointer/structs/fraction
lecture03-array-pointer/structs/linked_list
lecture03-array-pointer/structs/struct_pointer
lecture07-review/multi_array/alloc_2d
lecture07-review/multi_array/alloc_nd
lecture07-review/multi_array/sample
lecture08-function-pointers/dynamic_library/main
lecture08-function-pointers/dynamic_library/shapes
lecture08-function-pointers/function_pointers/function_pointer
lecture08-function-pointers/function_pointers/qsort_compare
lecture08-function-pointers/function_pointers/reduce
lecture08-function-pointers/function_pointers/typedef
lecture08-function-pointers/multi_array/multi_array
lecture08-function-pointers/multiple_files/main
lecture08-function-pointers/multiple_files/math_utils
lecture08-function-pointers/preprocessor/debug_release
lecture08-function-pointers/preprocessor/define
lecture08-function-pointers/preprocessor/platform
lecture08-function-pointers/strings/my_string
lecture08-function-pointers/strings/string_basics
lecture08-function-pointers/strings/string_functions

# Bài thực hành
labs/lab01/lab01
labs/lab01/temperature
labs/lab01/calculator
labs/lab02/lab02
labs/lab02/buggy
labs/lab03/lab03
labs/lab03/leaky
labs/lab04/test_student
labs/lab04/app

# Cấu hình VS Code cá nhân
.vscode/
